@import url(assets/css/home.css);
@import url(assets/css/responsive.css);
@import url(assets/css/utils.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'LibreCaslonDisplay', sans-serif;
    font-style: normal;
}

a {
    color: #00E0FF;
}

a:hover {
    color: #1685f4;
}

::selection {
    color: white;
    background-color: #00E0FF;
}