@font-face {
    font-family: 'LibreCaslonDisplay';
    src: url(../fonts/LibreCaslonDisplay-Regular.ttf);
}


/* Fonte Artistica */
@font-face {
    font-family: 'SendFlowers';
    src: url(../fonts/SendFlowers-Regular.ttf);
}